.todoListTask {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    width: 320px;
}

.todoListTask.done {
    opacity: 0.5;
}

.taskWrap {
    display: flex;
    flex-direction: row;
}

.wordWrap {
    padding-bottom: 4px;
    word-break: break-word;
}

.selector {
    font-size: 15px;
    margin: 5px;
}

.deleteButton {
    margin: 5px 5px 5px 0;
    height: 23px;
}
