.App {
  height: 100vh;
  display: flex;
background-image: url("Pictures/background.jpg");
  background-repeat: repeat-y;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.mainContainer {
  margin-top: 15px;
  text-align: center;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
